# NFL Players DataFrame

Build a comprehensive players dataset starting with unique players from the basic offense table.

In [3]:
import pandas as pd
import numpy as np
import os

# Load the basic offense data
basic_offense_path = 'nfl_2024_data/2024_season_basic_offense.csv'
basic_offense_df = pd.read_csv(basic_offense_path)

print(f"Loaded basic offense: {len(basic_offense_df)} records")
print(f"Columns: {list(basic_offense_df.columns)}")
basic_offense_df.head()

Loaded basic offense: 5309 records
Columns: ['game_id', 'Player', 'Tm', 'Pass_Cmp', 'Pass_Att', 'Pass_Yds', 'Pass_TD', 'Pass_Int', 'Pass_Sk', 'Pass_Sk_Yds', 'Pass_Lng', 'Pass_Rate', 'Rush_Att', 'Rush_Yds', 'Rush_TD', 'Rush_Lng', 'Rec_Tgt', 'Rec_Rec', 'Rec_Yds', 'Rec_TD', 'Rec_Lng', 'Fmb', 'FL']

,game_id,Player,Tm,Pass_Cmp,Pass_Att,Pass_Yds,Pass_TD,Pass_Int,Pass_Sk,Pass_Sk_Yds,...,Rush_Yds,Rush_TD,Rush_Lng,Rec_Tgt,Rec_Rec,Rec_Yds,Rec_TD,Rec_Lng,Fmb,FL
0,2024_200,Bryce Young,CAR,19,34,191,1,1,1,7,...,29,0,11,0,0,0,0,0,0,0
1,2024_200,Chuba Hubbard,CAR,0,0,0,0,0,0,0,...,92,1,15,5,4,15,0,8,0,0
2,2024_200,Adam Thielen,CAR,0,0,0,0,0,0,0,...,0,0,0,11,9,102,0,24,0,0
3,2024_200,Xavier Legette,CAR,0,0,0,0,0,0,0,...,0,0,0,8,2,39,0,31,0,0
4,2024_200,David Moore,CAR,0,0,0,0,0,0,0,...,0,0,0,5,2,25,0,19,0,0

In [4]:
# Get unique players and their teams (handling trades)
def get_player_teams(player_name, df):
    """Get all teams a player appeared for, handling trades"""
    player_games = df[df['Player'] == player_name]
    teams = player_games['Tm'].unique().tolist()
    # Remove any NaN values
    teams = [team for team in teams if pd.notna(team)]
    return teams

# Get all unique players
unique_players = basic_offense_df['Player'].unique()
print(f"Found {len(unique_players)} unique players in basic offense")

# Create players DataFrame
players_df = pd.DataFrame({
    'player_name': unique_players
})

# Add teams list for each player
players_df['teams_2024'] = players_df['player_name'].apply(
    lambda player: get_player_teams(player, basic_offense_df)
)

# Sort by player name
players_df = players_df.sort_values('player_name').reset_index(drop=True)

print(f"\nCreated players DataFrame with {len(players_df)} players")
players_df.head(10)

Found 600 unique players in basic offense

Created players DataFrame with 600 players

       player_name teams_2024
0       A.J. Brown      [PHI]
1        AJ Barner      [SEA]
2      AJ Cole III      [LVR]
3      Aaron Jones      [MIN]
4    Aaron Rodgers      [NYJ]
5  Aaron Shampklin      [PIT]
6    Adam Prentice      [NOR]
7     Adam Thielen      [CAR]
8    Adam Trautman      [DEN]
9  Adonai Mitchell      [IND]

In [5]:
# Check for players with multiple teams (trades)
traded_players = players_df[players_df['teams_2024'].apply(len) > 1]

print(f"Players with multiple teams (trades): {len(traded_players)}")
if len(traded_players) > 0:
    print("\nTraded players:")
    for _, player in traded_players.iterrows():
        print(f"  {player['player_name']}: {player['teams_2024']}")

Players with multiple teams (trades): 13

Traded players:
  Amari Cooper: ['CLE', 'BUF']
  Andrew Beck: ['GNB', 'HOU']
  Cam Akers: ['MIN', 'HOU']
  Davante Adams: ['LVR', 'NYJ']
  DeAndre Hopkins: ['KAN', 'TEN']
  Diontae Johnson: ['BAL', 'CAR', 'HOU']
  Jonathan Mingo: ['CAR', 'DAL']
  Josh Reynolds: ['DEN', 'JAX']
  Khalil Herbert: ['CHI', 'CIN']
  Marquez Valdes-Scantling: ['BUF', 'NOR']
  Mike Williams: ['PIT', 'NYJ']
  Tim Boyle: ['MIA', 'NYG']
  Velus Jones Jr.: ['CAR', 'CHI']

In [6]:
# Summary statistics
print(f"Total unique players: {len(players_df)}")
print(f"Players with 1 team: {(players_df['teams_2024'].apply(len) == 1).sum()}")
print(f"Players with 2+ teams: {(players_df['teams_2024'].apply(len) > 1).sum()}")

# Show sample of players
print("\nSample players:")
players_df.sample(10)

Total unique players: 600
Players with 1 team: 587
Players with 2+ teams: 13

Sample players:

         player_name teams_2024
515       Tay Martin      [TEN]
530    Tommy Tremble      [CAR]
169   Deshaun Watson      [CLE]
408  Matthew Hayball      [NOR]
549    Troy Franklin      [DEN]
502  Spencer Rattler      [NOR]
36    Baker Mayfield      [TAM]
244      Jaden Hicks      [KAN]
51     Brandon Allen      [SFO]
298  Jimmy Garoppolo      [LAR]